.head{
    background-color: white;
    padding: 0px 0;
}
.head h6{
    border: 5px solid #e4e4e4;
    margin-top: 20px;
    margin-bottom: 0;
}
.top{
   margin-top: 40px;
}
.top-header{
    margin-bottom: 0px;
}
.bg-light{
    background-color: transparent!important;
}
.mr-auto, .mx-auto{
    margin-left: 50px;
}
.nav-item{
   color: #005e7e;
}
.nav-link{
    display: inline-block;
    margin: 0 25px; 
    color: #005e7e!important;
    font-size: 20px;
    font-weight: 400;
    transition: 0.2s ease-in-out;
}
.nav-link:hover{
    cursor: pointer;
    color: deepskyblue!important;
}
.contact{
  background-color: #ee4a3f;
    padding: 25px 0;
}
.contact-us{
    margin-top: 25px;
}
.contact-one h1{
   font-size: 50px;
font-weight: bold;
color: white;
padding-bottom: 40px; 
}
.contact-one p{
  font-size: 20px;
text-align: justify;
font-weight: normal;
color: white;
padding-top: 30px;  
}
.contact-two{
    margin-top: 45px;
}
.contact-form{
 margin-top: 30px;
margin-bottom: 40px;   
}
.form-one{
   padding-left: 0px; 
}
.name{
display: block;
width: 400px;
padding: 10px;
font-size: 20px;
color: white;
background-color: #ff6258;
border: navajowhite;
font-weight: bold;
margin-bottom: 30px;
}
.form-two{
    margin-left: 470px;
    margin-top: -160px; 
}
.form-three{
    float: right;
    margin-top: -125px;
}
.form-three a{
     font-size: 40px;
     color: white;
     text-decoration: none;
     font-weight: bold;     
}
.form-three a:hover{
     cursor: pointer;
    color: blanchedalmond;
}
 footer{
   background-color: #ef4035;
    padding: 15px 0;
    color: white;
    text-align: center;
     font-size: 20px;
     padding-top: 30px;
padding-bottom: 20px;
}

@media (min-width: 320px) and (max-width: 576px){
           .top {
    margin-top: 5px;
}
    .logo img{
        width: 100%;
    }
   .menu{
     margin-left: 100px;
     margin-top: 10px;
}
    .top-header{
       margin-bottom: 8px;
}
.contact{
  background-color: #ee4a3f;
    padding: 25px 0;
}
.contact-us{
    margin-top: 25px;
}
.contact-one h1{
   font-size: 30px;
font-weight: bold;
color: white;
padding-bottom: 25px;
text-align: center;
}
.contact-one p{
  font-size: 15px;
text-align: justify;
font-weight: normal;
color: white;
padding-top: 30px;  
}
.contact-two{
    margin-top: 30px;
    text-align: center;
}
 .contact-form{
 margin-top: 60px;
margin-bottom: 100px;   
}
.form-one{
   padding-left: 0; 
}
.name{
display: block;
width: 290px;
padding: 10px;
font-size: 20px;
color: white;
background-color: #ff6258;
border: navajowhite;
font-weight: bold;
margin-bottom: 10px;
}
.form-two{
    margin-left: -16px;
     margin-top: 10px; 
}
.form-three{
    float: right;
margin-top: 5px;
text-align: center;
}
.form-three a{
     font-size: 40px;
     color: white;
     text-decoration: none;
     font-weight: bold;     
}
.form-three a:hover{
     cursor: pointer;
    color: blanchedalmond;
}
 footer {
    background-color: #ef4035;
    padding: 15px 0;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 10px;
}  
    
}
@media (min-width: 400px) and (max-width: 576px){
         .top {
    margin-top: 5px;
}
    .logo img{
        width: 100%;
    }
   .menu{
     margin-left: 135px;
     margin-top: 10px;
}
    .top-header{
       margin-bottom: 8px;
}
    .contact-form{
 margin-top: 60px;
margin-bottom: 100px;   
}
.form-one{
   padding-left: 55px; 
}
.name{
display: block;
width: 290px;
padding: 10px;
font-size: 20px;
color: white;
background-color: #ff6258;
border: navajowhite;
font-weight: bold;
margin-bottom: 10px;
}
.form-two{
    margin-left: -16px;
     margin-top: 10px; 
    padding-left: 72px;
}
.form-three{
    float: right;
margin-top: 5px;
text-align: center;
}
.form-three a{
     font-size: 40px;
     color: white;
     text-decoration: none;
     font-weight: bold;     
}
.form-three a:hover{
     cursor: pointer;
    color: blanchedalmond;
}
footer {
    background-color: #ef4035;
    padding: 15px 0;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 10px;
}    
}
@media (min-width: 576.01px) and (max-width: 768px){
        .top {
    margin-top: 5px;
}
    .logo img{
        width: 100%;
    }
   .menu{
     margin-left: 0px;
     margin-top: 20px;
}
    .top-header{
       margin-bottom: 8px;
}
.contact{
  background-color: #ee4a3f;
    padding: 25px 0;
}
.contact-us{
    margin-top: 25px;
}
.contact-one h1{
   font-size: 30px;
font-weight: bold;
color: white;
padding-bottom: 25px;
text-align: center;
}
.contact-one p{
  font-size: 15px;
text-align: justify;
font-weight: normal;
color: white;
padding-top: 30px;  
}
.contact-two{
    margin-top: 30px;
    text-align: center;
}    
    .contact-form{
 margin-top: 60px;
margin-bottom: 100px;   
}
.form-one{
   padding-left: 10px; 
}
.name{
display: block;
width: 490px;
padding: 10px;
font-size: 20px;
color: white;
background-color: #ff6258;
border: navajowhite;
font-weight: bold;
margin-bottom: 10px;
}
.form-two{
    margin-left: -16px;
     margin-top: 10px; 
    padding-left: 27px;
}
.form-three{
    float: right;
margin-top: 5px;
text-align: center;
}
.form-three a{
     font-size: 40px;
     color: white;
     text-decoration: none;
     font-weight: bold;     
}
.form-three a:hover{
     cursor: pointer;
    color: blanchedalmond;
} 
   
    
    
}
@media (width: 768px){
      .menu{
     margin-left: 0px;
     margin-top: 0px;
}
        .contact-form{
 margin-top: 60px;
margin-bottom: 100px;   
}
.form-one{
   padding-left: 80px; 
}
.name{
display: block;
width: 490px;
padding: 10px;
font-size: 20px;
color: white;
background-color: #ff6258;
border: navajowhite;
font-weight: bold;
margin-bottom: 10px;
}
.form-two{
    margin-left: -16px;
     margin-top: 10px; 
    padding-left: 96px;
}
.form-three{
    float: right;
margin-top: 5px;
text-align: center;
    margin-right: 340px;
}
.form-three a{
     font-size: 40px;
     color: white;
     text-decoration: none;
     font-weight: bold;     
}
.form-three a:hover{
     cursor: pointer;
    color: blanchedalmond;
}
}
@media (min-width: 768.01px) and (max-width: 992px){
          .top {
    margin-top: 5px;
}
    .logo img{
        width: 100%;
    }
   .menu{
     margin-left: 375px;
     margin-top: -55px;
}
    .top-header{
       margin-bottom: 8px;
}  
.contact{
  background-color: #ee4a3f;
    padding: 25px 0;
}
.contact-us{
    margin-top: 25px;
}
.contact-one h1{
   font-size: 50px;
font-weight: bold;
color: white;
padding-bottom: 40px; 
}
.contact-one p{
  font-size: 20px;
text-align: justify;
font-weight: normal;
color: white;
padding-top: 30px;  
}
.contact-two{
    margin-top: 95px;
}    
       .contact-form{
 margin-top: 60px;
margin-bottom: 100px;   
}
.form-one{
   padding-left: 80px; 
}
.name{
display: block;
width: 490px;
padding: 10px;
font-size: 20px;
color: white;
background-color: #ff6258;
border: navajowhite;
font-weight: bold;
margin-bottom: 10px;
}
.form-two{
    margin-left: -16px;
     margin-top: 10px; 
    padding-left: 96px;
}
.form-three{
    float: right;
margin-top: 5px;
text-align: center;
    margin-right: 340px;
}
.form-three a{
     font-size: 40px;
     color: white;
     text-decoration: none;
     font-weight: bold;     
}
.form-three a:hover{
     cursor: pointer;
    color: blanchedalmond;
}    
}














